<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.zhirrrstudio.pycodes">
	<application
		android:allowBackup="true"
		android:label="Python Codes"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:name=".SketchApplication"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".OneActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".TwoActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ThreeActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".FourActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".FiveActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SixActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SevenActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".EightActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".NineActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".TenActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ElevenActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".TwelveActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SplashScreenActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ThirteenActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".FourtheenActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".FiftheenActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SixteenActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".DebugActivity"
			android:screenOrientation="portrait"/>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
